<footer class="foot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ml-auto">
                <div class="row footline1">
                    <div class="col-lg-2 footline2">
                        <h3 class="mb-4">Компанія</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Головна</a></li>
                            <li><a href="#">Про нас</a></li>
                            <li><a href="#">Команда</a></li>
                            <li><a href="#">Продукти</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footline2">
                        <h3 class="mb-4">Продукти</h3>
                        <ul class="list-unstyled ">
                            <li><a href="#">Наші продукти</a> </li>
                            <li><a href="#">Щоденник</a></li>
                            <li><a href="#">СМАРТ інформування</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footline2">
                        <h3 class="mb-4">Наші ресурси</h3>
                        <ul class="list-unstyled ">
                            <li><a href="#">Блог</a></li>
                            <li><a href="#">База знань</a></li>
                            <li><a href="#">Історія успіху</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <p>Адреса:<br>
                            02099 м. Київ, вул. Княжий Затон, 21
                        </p>
                        <p>Контакти:<br>
                            +38(044) 566 00 22<br>
                            +38(063) 566 00 22<br>
                            +38(068) 566 00 22<br>
                        </p>
                        <p>E-mail:<br>
                            order@cybermediatrack.com<br>
                            support@cybermediatrack.com
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <div id="map" style="width:300px;height:240px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-12 d-flex justify-content-between">
                    <div class="col-md-3 ">
                        <p>
                            <span class="fontcolor">Всі права захищено</span><br>
                            CyberMediaTrack - 2020
                        </p>
                    </div>
                    <div class="col-md-3 ">
                        <p>
                            <a href="#">Політика конфіденційності</a><br>
                            <a href="#">Ліцензійний договір</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
</footer>