{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_navbar_white.html' %}
<main class="bg-white  pt-5 pb-5 img-white1">
    <section class="container pt-5 pb-5 ">
        <div class="row pt-5 pb-5">
            <div class="col-md-8 offset-2 text-center ">
                <h1 class="font-black">Cyber Media Track
                    консолідація компетенцій</h1>
                <h4 class="font-black">інноваційний центр синергії експертів з BIG DATA та CYBER аналізу
                    медіапростору,
                    результат якого визначає стратегію розвитку бренду та потенційні ризики</h4>
            </div>
        </div>
    </section>
    <section class="container col-lg-10 d-flex justify-content-center pt-5 pb-5">
        <div id="carouselExampleInterval" class="carousel slide pt-5 pb-5" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Для досліджень та соціальних кампаній
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            Вчасно отримуйте інформацію про усі події, а
                                            також стан зацікавленості аудиторії

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Для оцінки власного рейтингу та
                                                рейтингу конкурентів
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            Вчасно отримуйте інформацію про усі події, а
                                            також стан зацікавленості аудиторіїВчасно отримуйте інформацію про усі
                                            події, а
                                            також стан зацікавленості аудиторіїВчасно отримуйте інформацію про усі
                                            події, а
                                            також стан зацікавленості аудиторії

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Для проведення стійкого інформаційного
                                                супротиву
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            Вчасно отримуйте інформацію про усі події, а
                                            також стан зацікавленості аудиторії
                                            Вчасно отримуйте інформацію про усі події, а
                                            також стан зацікавленості аудиторії

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="https://cdn.pixabay.com/photo/2020/10/06/04/11/rough-collie-5631188_960_720.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                {% if product_slider %}
                {% for product in product_slider %}
                <div class="carousel-item" data-interval="2000">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                {{product.title1}}
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            {{product.title1_text}}

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                {{product.title2}}
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            {{product.title2_text}}

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                {{product.title3}}
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            {{product.title3_text}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="{{ product.photo.url }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="accordion " id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Для досліджень та соціальних кампаній
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">


                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Collapsible Group Item #2
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">


                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Collapsible Group Item #3
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="d-flex justify-content-center">
                <a class="carousel-control-prev batons1" href="#carouselExampleInterval" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next batons2" href="#carouselExampleInterval" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>

        </div>
    </section>


</main>
{% endblock %}